In [1]:
import time
t1 = time.time()

In [2]:
# import matplotlib.pyplot as plt
from datetime import date
import pandas as pd
import itertools
import numpy as np
import os

from configparser import ConfigParser
import pyodbc

# import statsmodels as sm
import pmdarima as pm
# from pmdarima.model_selection import train_test_split
# from sklearn.preprocessing import LabelBinarizer

### Settings

In [3]:
# Paths & Files
db_conf_path = os.path.join(os.environ['USERPROFILE'],'db_connection.conf')

# ML Settings
# testsize = .05
scale='B'                # Check if needed or hardcoded
periods = 5              # Check if needed or hardcoded
weighted_total = False
prediction_length = 5

# Data Settings
myfilters = {'SITE':['VELIZY'],
             'SERVICE_ACTIVITE':['PRESTATION','CONTRAT - COTISATION']}

#### DB Connection

In [4]:
def db_connection(db_conf):
    config = ConfigParser()
    config.read(db_conf_path)

    srv_name = config['CONNECTION']['srv_name']
    db_name = config['CONNECTION']['db_name']
    drv = config['CONNECTION']['drv']
    usr = config['CONNECTION']['usr']
    pwd = config['CONNECTION']['pwd']

    conn_str = 'DRIVER=%s; SERVER=%s;DATABASE=%s;UID=%s;PWD=%s' % (drv, srv_name, db_name, usr, pwd)
    cnxn = pyodbc.connect(conn_str)
    return cnxn

#### Get Datas

In [5]:
def get_datas(strsql):
    with db_connection(db_conf_path) as conn:
        result = pd.read_sql(sqlstr, conn)
    return result

#### Preprocess columns

In [6]:
def preprocess_df(df,weighted):
    if weighted:
        df['TOTAL'] = df.TOTAL * df.COEFF
    df = df.drop(columns=['COEFF'])
    return df

#### Create Aggregated Df with DateTime Index

In [7]:
def aggregate_df(df):
    df2 = df.groupby('DATEDATA').sum()
    df2 = df2.asfreq(freq='B')
    df2['TOTAL'].fillna(0,inplace=True)
    df2=df2.resample(scale).sum()
    return df2

### Main Loop Iterate over filters

In [133]:
# Generate loops variants
myfilters = {'SITE':['VELIZY',],
             'SERVICE_ACTIVITE':['PRESTATION','CONTRAT - COTISATION']}

v_keys = list(myfilters.keys())
v = list(myfilters.values())

liste = list(itertools.product(*v))

In [135]:
strSQL_start = "SELECT * FROM ML_IGE_ENTRANTS_DS1 "

for variant in liste:
    print(variant)

    # Generate SELECT query
    strSQLW = "WHERE "
    for i in range(len(variant)):
        strSQLW += v_keys[i]
        strSQLW += "="
        strSQLW += "'" + str(variant[i]) + "'"
        strSQLW += ' AND '
    strSQL = strSQL_start + strSQLW[:-5]
    
    # Get datas
    df = get_datas(strSQL)
    
    # Prepare datas
    df_pre = preprocess_df(df, weighted_total)
    df_agg = aggregate_df(df_pre)
    
    # ARIMA Modeling
    model = pm.auto_arima(df_agg, error_action='ignore', trace=False,
                          suppress_warnings=True, maxiter=10,
                          seasonal=True, m=periods)
    preds, conf_int = model.predict(n_periods=prediction_length, return_conf_int=True)
    
    # Create Prediction dataframe to write in DB
    idx=[]
    for i in range(1,prediction_length+1):
        nd = df_agg.index[-1]+pd.tseries.offsets.BDay(i)
        idx.append(nd)
    t=pd.DataFrame(np.concatenate((preds.reshape(-1,1),conf_int),axis=1),columns=['PRED','LB','UB'],index=idx)

    for i in range(len(variant)):
        t[v_keys[i]]=variant[i]
    
    t['WEIGHTED']=weighted_total
    today = date.today()
    d = today.strftime("%Y-%m-%d")
    t['PREDDATE']=d
    
    
    # Create DELETE SQL string
    strSQL = "DELETE * FROM ML_IGE_ENTRANTS_PRED WHERE DATEPRED=\'" + d + "\'"

    # with db_connection(db_conf_path) as conn:
    #     conn.execute(strSQL)
    #     conn.commit()
    
    
    # Create INSERT SQL string
    strSQL = "INSERT INTO ML_IGE_ENTRANTS_PRED (DATEDATA,PRED,LB,UB,SITE,SERVICE_ACTIVITE,WEIGHTED,DATEPRED) VALUES "
    values=""
    for idx, row in t.iterrows():
        values += "("
        values += "\'" + idx.strftime('%Y-%m-%d') + "\',"
        values += str(int(row.PRED)) + ','
        values += str(int(row.LB)) + ','
        values += str(int(row.UB)) + ','
        values += row.SITE + ','
        values += row.SERVICE_ACTIVITE + ','
        values += str(int(row.WEIGHTED)) + ','
        values += "\'" + row.PREDDATE + "\'"
        values+='),'

    strSQL += values
    strSQL = strSQL[:-1]

    # with db_connection(db_conf_path) as conn:
    #     conn.execute(strSQL)
    #     conn.commit()

('VELIZY', 'PRESTATION')
                   PRED          LB           UB    SITE SERVICE_ACTIVITE  \
2020-06-30  1329.107073  585.366662  2072.847484  VELIZY       PRESTATION
2020-07-01  1331.768610  564.942669  2098.594550  VELIZY       PRESTATION
2020-07-02  1454.449926  684.157732  2224.742120  VELIZY       PRESTATION
2020-07-03  1369.283746  587.122055  2151.445438  VELIZY       PRESTATION
2020-07-06  1452.372691  663.700710  2241.044671  VELIZY       PRESTATION

            WEIGHTED    PREDDATE
2020-06-30     False  2020-07-02
2020-07-01     False  2020-07-02
2020-07-02     False  2020-07-02
2020-07-03     False  2020-07-02
2020-07-06     False  2020-07-02
('VELIZY', 'CONTRAT - COTISATION')
                   PRED          LB           UB    SITE  \
2020-06-30  1329.107073  585.366662  2072.847484  VELIZY
2020-07-01  1331.768610  564.942669  2098.594550  VELIZY
2020-07-02  1454.449926  684.157732  2224.742120  VELIZY
2020-07-03  1369.283746  587.122055  2151.445438  VELIZY
2020-07-06  1452.372691  663.700710  2241.044671  VELIZY

                SERVICE_ACTIVITE  WEIGHTED    PREDDATE
2020-06-30  CONTRAT - COTISATION     False  2020-07-02
2020-07-01  CONTRAT - COTISATION     False  2020-07-02
2020-07-02  CONTRAT - COTISATION     False  2020-07-02
2020-07-03  CONTRAT - COTISATION     False  2020-07-02
2020-07-06  CONTRAT - COTISATION     False  2020-07-02

In [136]:
t

,PRED,LB,UB,SITE,SERVICE_ACTIVITE,WEIGHTED,PREDDATE
2020-06-30,1329.107073,585.366662,2072.847484,VELIZY,CONTRAT - COTISATION,False,2020-07-02
2020-07-01,1331.768610,564.942669,2098.594550,VELIZY,CONTRAT - COTISATION,False,2020-07-02
2020-07-02,1454.449926,684.157732,2224.742120,VELIZY,CONTRAT - COTISATION,False,2020-07-02
2020-07-03,1369.283746,587.122055,2151.445438,VELIZY,CONTRAT - COTISATION,False,2020-07-02
2020-07-06,1452.372691,663.700710,2241.044671,VELIZY,CONTRAT - COTISATION,False,2020-07-02

In [154]:
tt

,DATEDATA,PRED,LB,UB,SITE,SERVICE_ACTIVITE,WEIGHTED,PREDDATE
0,2020-06-30,1329.107073,585.366662,2072.847484,VELIZY,CONTRAT - COTISATION,False,2020-07-02
1,2020-07-01,1331.768610,564.942669,2098.594550,VELIZY,CONTRAT - COTISATION,False,2020-07-02
2,2020-07-02,1454.449926,684.157732,2224.742120,VELIZY,CONTRAT - COTISATION,False,2020-07-02
3,2020-07-03,1369.283746,587.122055,2151.445438,VELIZY,CONTRAT - COTISATION,False,2020-07-02
4,2020-07-06,1452.372691,663.700710,2241.044671,VELIZY,CONTRAT - COTISATION,False,2020-07-02

In [159]:
tt = t.reset_index(level=0)
tt.rename(columns={'index':'DATEDATA'},inplace=True)
tt['DATEDATA'] = [x.strftime('%Y-%m-%d') for x in tt['DATEDATA']]
print(tuple(list(tt.columns)))
str(tuple(list(tt.iloc[0])))

('DATEDATA', 'PRED', 'LB', 'UB', 'SITE', 'SERVICE_ACTIVITE', 'WEIGHTED', 'PREDDATE')

"('2020-06-30', 1329.1070728441107, 585.3666617165704, 2072.847483971651, 'VELIZY', 'CONTRAT - COTISATION', False, '2020-07-02')"

In [160]:
for idx,row in tt.iterrows():
    print(tuple((row)))

('2020-06-30', 1329.1070728441107, 585.3666617165704, 2072.847483971651, 'VELIZY', 'CONTRAT - COTISATION', False, '2020-07-02')
('2020-07-01', 1331.7686095505364, 564.9426693453175, 2098.5945497557555, 'VELIZY', 'CONTRAT - COTISATION', False, '2020-07-02')
('2020-07-02', 1454.4499258901237, 684.157732259325, 2224.7421195209226, 'VELIZY', 'CONTRAT - COTISATION', False, '2020-07-02')
('2020-07-03', 1369.2837462705838, 587.1220546158562, 2151.4454379253116, 'VELIZY', 'CONTRAT - COTISATION', False, '2020-07-02')
('2020-07-06', 1452.3726906183256, 663.7007101422695, 2241.0446710943816, 'VELIZY', 'CONTRAT - COTISATION', False, '2020-07-02')

In [9]:
df = get_datas(sqlstr)
# df

In [10]:
df_pre = preprocess_df(df, weighted_total)
# df_pre

In [11]:
df_agg = aggregate_df(df_pre)
# df_agg

In [12]:
model = pm.auto_arima(df_agg, error_action='ignore', trace=False,
                      suppress_warnings=True, maxiter=10,
                      seasonal=True, m=periods)

In [13]:
# print(model.order)
# print(model.seasonal_order)
# plt.rcParams['figure.figsize'] = [10, 10]
# model.plot_diagnostics();

In [14]:
preds, conf_int = model.predict(n_periods=prediction_length, return_conf_int=True)

In [20]:
# Create Prediction dataframe to write in DB
idx=[]
for i in range(1,prediction_length+1):
    nd = df_agg.index[-1]+pd.tseries.offsets.BDay(i)
    idx.append(nd)
t=pd.DataFrame(np.concatenate((preds.reshape(-1,1),conf_int),axis=1),columns=['PRED','LB','UB'],index=idx)

t['SITE']='VELIZY'                       # PARAMETER
t['SERVICE_ACTIVITE']='PRESTATION'       # PARAMETER
t['WEIGHTED']=weighted_total

today = date.today()
d = today.strftime("%Y-%m-%d")
t['PREDDATE']=d

In [161]:
print(df_agg)

             TOTAL
DATEDATA
2018-08-01   743.0
2018-08-02  1238.0
2018-08-03  1050.0
2018-08-06  1097.0
2018-08-07  1171.0
...            ...
2020-06-23  1495.0
2020-06-24  1077.0
2020-06-25  1249.0
2020-06-26  1425.0
2020-06-29  1451.0

[499 rows x 1 columns]

In [30]:
# Delete predictions if existing
strSQL = "DELETE * FROM ML_IGE_ENTRANTS_PRED WHERE DATEPRED=\'" + d + "\'"

# with db_connection(db_conf_path) as conn:
#     conn.execute(strSQL)
#     conn.commit()

In [31]:
strSQL

"DELETE * FROM ML_IGE_ENTRANTS_PRED WHERE DATEPRED='2020-07-02'"

In [22]:
# Create INSERT SQL string

strSQL = "INSERT INTO ML_IGE_ENTRANTS_PRED (DATEDATA,PRED,LB,UB,SITE,SERVICE_ACTIVITE,WEIGHTED,DATEPRED) VALUES "
values=""
for idx, row in t.iterrows():
    values += "("
    values += "\'" + idx.strftime('%Y-%m-%d') + "\',"
    values += str(int(row.PRED)) + ','
    values += str(int(row.LB)) + ','
    values += str(int(row.UB)) + ','
    values += row.SITE + ','
    values += row.SERVICE_ACTIVITE + ','
    values += str(int(row.WEIGHTED)) + ','
    values += "\'" + row.PREDDATE + "\'"
    values+='),'

strSQL += values
strSQL = strSQL[:-1]

# with db_connection(db_conf_path) as conn:
#     conn.execute(strSQL)
#     conn.commit()

In [23]:
strSQL

"INSERT INTO ML_IGE_ENTRANTS_PRED (DATEDATA,PRED,LB,UB,SITE,SERVICE_ACTIVITE,WEIGHTED,DATEPRED) VALUES ('2020-06-30',1329,585,2072,VELIZY,PRESTATION,0,'2020-07-02'),('2020-07-01',1331,564,2098,VELIZY,PRESTATION,0,'2020-07-02'),('2020-07-02',1454,684,2224,VELIZY,PRESTATION,0,'2020-07-02'),('2020-07-03',1369,587,2151,VELIZY,PRESTATION,0,'2020-07-02'),('2020-07-06',1452,663,2241,VELIZY,PRESTATION,0,'2020-07-02')"

### Plot Result

In [ ]:
graph = pd.DataFrame(test_endog.copy())
graph = graph.rename(columns={'TOTAL':'TEST'})
graph['preds'] = preds
# graph['hwpreds'] = hwpreds
graph['lb'] = conf_int[:,0]
graph['ub'] = conf_int[:,1]
graph = graph.append(pd.DataFrame(train_endog))

In [ ]:
graphz = graph[graph.index>'2020-01-01']

In [ ]:
plt.rcParams['figure.figsize'] = [15, 10]
g1 = plt.plot(graphz.index, graphz.TOTAL, label='Train')
g2 = plt.plot(graphz.index, graphz.TEST,'c--', label='Test')
g3 = plt.plot(graphz.index, graphz.preds,'r', label='Pred',linewidth=2, alpha=.5)
# g3b = plt.plot(graphz.index, graphz.hwpreds,'g', label='Pred',linewidth=2)
g4 = plt.fill_between(graphz.index,graphz.lb,graphz.ub,color='r',alpha=.1, label='C.I.')
plt.legend(loc='upper left')
plt.title('Actual test samples vs. forecasts')
plt.show()

In [ ]:
graphz

In [ ]:
t2 = time.time()

print('Total Run time: %i secs' % (t2-t1))